<%- include("../partials/userHeader", {page: 'Mis reservaciones'}); -%>

<div>
    <table align="center" >
        <!-- <thead>Tabla</thead> -->
        <!-- <caption>Ejemplo de tabla</caption> -->
        <thead>
            <tr>
                <th>ID Reservacion</th>
                <th>ID Mascota</th>
                <th>Mesa</th>
                <th>Personas</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora final</th>
                <th>Mascota</th>
            </tr>
        </thead>
        <tbody id="reservaciones" name="reservaciones">
            <tr>
                <%for (let i=0;i<Size;i++){%>
                    <tr>
                        <%for (let j=0;j<9;j++){%>
                            <td><%=results[i][j]%></td>
                        <%}%>  
                    </tr>
                      
                <%}%>
            </tr>
        </tbody>
    </table>
    
</div>
<a href="eliminar-reservacion"><button class="btn btn-lg btn-primary" id="mis-reservaciones-btn" type="button" >Cancelar Reservacion</button></a>

<!-- <ul>
    <%for (var result in results){%>
      <li><%=result%>:<%=results[result]%></li>    
      <%}%>
    </ul>

    <p><%=results[0][7]%></p> -->

<%- include("../partials/footer"); -%>
